<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/index.css" />
</head>
<body>
    <div class="login hide-login">
        <form class="login-container hide-form" autocomplete="off" action="login" method="post">
            <img  src="https://e7.pngegg.com/pngimages/178/595/png-clipart-user-profile-computer-icons-login-user-avatars-monochrome-black-thumbnail.png" alt="#">
            <div class="input-container hide-section">
                <p><input type="email" placeholder="email" name="email"></p>
                <p><input type="password" placeholder="password" name="password"></p>
                <p><input type="submit" value="login"></p>
            </div>


        </form>
    </div>
    <script src="js/animate.js"></script>
    <script src="js/validate.js"></script>
</body>
</html>